.box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.box img {
    margin: 1rem 0;
    height: 15rem;
}

.box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}
